<%- include('header') %>
<div class="container">
    <%- include('title') %>

    <div class="row">
        <aside class="col-md-4">
            <h3>
                <%= user.loggedUser %>
            </h3>
            <%- include('moneynav') %>
        </aside>
        <section class="col-md-4">
            <h4>
                Bevétel Rögzítése
            </h4>
            <form action="/filleres/income" method="post">
                <div class="mb-3">
                    <label for="amount" class="form-label">Összeg (Ft)</label>
                    <input type="number" class="form-control" name="amount" min="0" value="50000">
                </div>
                <div class="mb-3">
                    <label for="date" class="form-label">Dátum</label>
                    <input type="date" class="form-control" name="date" max="<%= toDay %>" value="<%= toDay %>">
                </div>

                <div class="mb-3">
                    <label for="type">Bevétel Típus</label>
                    <select class="form-select" name="transtypeID">
                        <% for (let i=0; i < types.length; i++) { %>
                            <option value="<%= types[i].ID %>"><%= types[i].name %></option>
                            <% } %>
                    </select>
                  </div>
                <button type="submit" class="btn btn-success mb-3">Bevétel rögzítése</button>
            </form>
        </section>
        <%- include('capital') %>
    </div>
    <hr>
    <%- include('egyenleg') %>
    <br>
    <div>
        <%- include('tableview') %>
    </div>

    <%- include('footer') %>
    <script src="../assets/js/startcapital.js"></script>
</div>